{{- if .Values.prometheusRule.enabled }}
{{- range .Values.prometheusRule.rules }}
---
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ include "base.fullname" $ }}-{{ .name }}
  labels:
    {{- include "base.labels" $ | nindent 4 }}
{{- if .Values.prometheusRule.prometheusLabel }}
    prometheus: {{ .Values.prometheusRule.prometheusLabel }}
{{- end }}
    role: alert-rules
spec:
  groups:
{{- range .groups }}
    - name: {{ .name }}
      rules:
{{- range .rules }}
{{- if .alert }}
        - alert: {{ .alert }}
          expr: {{ .expr }}
{{- if .for }}
          for: {{ .for }}
{{- end }}
{{- if .labels }}
          labels:
{{- range $key, $value := .labels }}
            {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
{{- if .annotations }}
          annotations:
{{- range $key, $value := .annotations }}
            {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
{{- else if .record }}
        - record: {{ .record }}
          expr: {{ .expr }}
{{- if .labels }}
          labels:
{{- range $key, $value := .labels }}
            {{ $key }}: {{ $value | quote }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}